<template>
  <div class="home">
    <Trivia />
  </div>
</template>

<script>
// @ is an alias to /src
import Trivia from "../components/Trivia"

export default {
  name: 'home',
  components: {
    Trivia
  }
}
</script>
