<template>
  <div class="result">
    <div v-if="score < 5">
      <h1 >You lost...</h1>
      <img src="https://media.makeameme.org/created/game-over-ill.jpg" alt="Game Over Image">
    </div>
    <div v-else-if="score < 8">
      <h1>You Won!</h1>
      <img src="http://m.quickmeme.com/img/03/038c5ccf761e3d65fcce9bf3e886dfe0337479c880383388842e6f6b8b0df0b7.jpg" alt="Winning image">
    </div>
    <div v-else-if="score > 8">
      <h1>You Won Masterfully!</h1>
      <img src="https://c8.alamy.com/comp/GCGXAE/soccer-uefa-champions-league-final-bayern-munich-v-inter-milan-santiago-GCGXAE.jpg" alt="Masterfully Win">
    </div>
  </div>
</template>

<script>
export default {
  name: 'TriviaResult',
  props: ['points'],
  data(){
    return{
      score: this.$route.params.points
    }
  }
}
</script>
