<template>
  <div id="question">
    <p style="font-weight: bold">Category: {{trivia.category}}</p>
    <p style="font-style: italic">Difficulty level: {{trivia.difficulty}}</p>
    <p style="font-weight: bold">Question:</p>
    <p v-html="trivia.question"><p>

    <button id="true" v-on:click="checkAnswer('True')">True</button>
    <button id="false" v-on:click="checkAnswer('False')">False</button>
    <p>-------------------------------------------------------------------------------------------------------------------------</p>
  </div>
</template>

<script>
export default {
  name: "Question",
  props: ["trivia"],
  methods: {
    checkAnswer(answer) {
      if (answer == this.trivia.correct_answer) {
          this.$emit('answer-question', true);
      }
      else{
          this.$emit('answer-question', false);
      }
    }
  }
};
</script>

<style scoped>
button {
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 24px;
  color: #FFFFFF;
  padding: 10px;
  width: 150px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#true{
    margin-right: 40px;
}

#false{
    margin-left: 40px;
}

button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
</style>