<template>
  <div id="trivia">
    <div id="game-info">
      <h1>Welcome to "The Best Trivia Game You Will Ever Play!"</h1>
      <p>Here you will be presented with 10 questions</p>
      <p>You must answer True / False on each one of them, and if you manage to get 5 correct, you win!</p>
      <p>Easy right? Well, we'll see!</p>
      <p>Good luck and have fun!</p>

      <button v-on:click="onStartClick" class="button" style="vertical-align: middle">
        <span>Start</span>
      </button>
    </div>

    <div id="questions" style="display:none">
      <!-- <Question
        v-for="(question, index) in questions"
        :key="index"
        v-bind:trivia="question"
        v-on:answer-question="checkAnswer"
      />-->

      <Question v-bind:trivia="questions[this.currentQuestion]" v-on:answer-question="checkAnswer" />
    </div>
  </div>
</template>

<script>
import Question from "./Question";
import axios from "axios";

export default {
  name: "Trivia",
  components: {
    Question
  },
  beforeCreate() {
    axios
      .get("https://opentdb.com/api.php?amount=10&type=boolean")
      .then(resp => resp.data.results)
      .then(resp => {
        this.questions = resp;
      });
  },
  data() {
    return {
      questions: [],
      correctAnswers: 0,
      currentQuestion: 0
    };
  },
  methods: {
    onStartClick() {
      document.getElementById("game-info").style.display = "none";
      document.getElementById("questions").style.display = "block";
    },
    checkAnswer(ans) {
      if (ans) {
        this.correctAnswers++;
      }
      this.currentQuestion++;

      if (this.currentQuestion >= 10) {
        this.$router.push({
          name: "result",
          params: { points: this.correctAnswers }
        });
      }
    }
  }
};
</script>

<style scoped>
#trivia {
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #55d124;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>